{% extends 'userapp/base.html' %}

{% load static %}

{% block content %}

	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<h1>Cart</h1>
					</div>
				</div>
			</div> 
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- cart -->
	<div class="cart-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-12">
					<div class="cart-table-wrap">
						<table class="cart-table">
							<thead class="cart-table-head">
								<tr class="table-head-row">
									<th class="product-remove"></th>
									<th class="product-image">Product Image</th>
									<th class="product-name">Name</th>
									<th class="product-price">Price</th>
									<th class="product-quantity">Quantity</th>
									<th class="product-total">Total</th>
								</tr>
							</thead>
							<tbody>
								{% for cart_item in cart_items %}
									<tr class="table-body-row">
										<td class="product-remove"><a href="{% url 'remove_cart_item' cart_item.product.id %}"><i class="far fa-window-close"></i></a></td>
										<td class="product-image"><img src="{{ cart_item.product.product_images.url }}" alt=""></td>
										<td class="product-name">{{ cart_item.product.product_name }}</td>
										<td class="product-price">₹{{ cart_item.product.price }}</td>
										<td class="product-quantity">
											<a href="{% url 'remove_cart' cart_item.product.id %}">-</a>
											<input type="text" value="{{ cart_item.quantity }}" readonly>
											<a href="{% url 'add_cart' cart_item.product.id %}">+</a>
										</td>
										<td class="product-total">₹{{ cart_item.sub_total }}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="total-section">
						<table class="total-table">
							<thead class="total-table-head">
								<tr class="table-total-row">
									<th>Total</th>
									<th>Price</th>
								</tr>
							</thead>
							<tbody>
								<tr class="total-data">
									<td><strong>Subtotal: </strong></td>
									<td>₹{{ total }}</td>
								</tr>
								<tr class="total-data">
									<td><strong>GST: </strong></td>
									<td>₹{{ tax }}</td>
								</tr>
								<tr class="total-data">
									<td><strong>Shipping: </strong></td>
									<td>₹{{ shipping }}</td>
								</tr>
								<tr class="total-data">
									<td><strong>Grand Total: </strong></td>
									<td>₹{{ grand_total }}</td>
								</tr>
							</tbody>
						</table>
						<div class="cart-buttons">
							<a href="checkout.html" class="boxed-btn black">Check Out</a>
						</div>
					</div>

					<div class="coupon-section">
						<h3>Apply Coupon</h3>
						<div class="coupon-form-wrap">
							<form action="index.html">
								<p><input type="text" placeholder="Coupon"></p>
								<p><input type="submit" value="Apply"></p>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end cart -->


{% endblock %}