{% extends 'userapp/base.html' %}
{% load static %}

{% block content %}
<style>
  .card {
    padding-bottom: 30px;
  }

</style>

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="breadcrumb-text">
          <h1>Your Profile</h1>
          <p>Manage Address</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end breadcrumb section -->

<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    {% include 'userapp/includes/sidebar.html' %}
    <main class="main-content">
      {% if addresses %}
      <div class="row">
        {% for address in addresses %}
        <div class="col-md-6">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">{{ address.first_name }} {{ address.last_name }}</h5>
              <p class="card-text">{{ address.address_line_1 }}</p>
              <p class="card-text">{{ address.address_line_2 }}</p>
              <p class="card-text">{{ address.city }}, {{ address.pincode }}</p>
              <p class="card-text">Phone: {{ address.phone }}</p>
              <a href="{% url 'edit_address' address.id %}" class="btn btn-warning" style="background-color: #F28123; color: white; border-radius: 35px;">Edit Address</a>
              <a href="{% url 'delete_address' address.id %}" class="btn btn-danger" style="border-radius: 35px;">Delete Address</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% else %}
      <h4>No Addresses Found</h4>
      {% endif %}
    </main>
  </div>
</div>

{% endblock %}
