{% extends 'userapp/base.html' %}

{% load static %}

{% block content %}
<style>
  .card-body {
    padding-left: 10px;
    font-size: 18px;
    margin-top: -24px;
    }
 
</style>

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="breadcrumb-text">
          <h1>Your Profile</h1>
          <p>Manage Address</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end breadcrumb section -->

<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    {% include 'userapp/includes/sidebar.html' %}

    <main class="main-content">
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <div class="billing-address-form">
            <form action="index.html">
              <p><input type="text" placeholder="First Name"></p>
              <p><input type="text" placeholder="Last Name"></p>
              <p><input type="email" placeholder="Email"></p>
              <p><input type="tel" placeholder="Phone"></p>
              <p><textarea name="bill" id="bill" cols="80" rows="10" placeholder="Address"></textarea></p>
              <p><input type="text" placeholder="City"></p>
              <p><input type="text" placeholder="Pincode"></p>
              <button type="submit" class="btn btn-primary btn-lg">Add Address</button>
            </form>
          </div>
        </div>
      </div>
    </main>
    
  </div>
</div>

{% endblock %}
